APP_NAME=Practice Backend
APP_ENV=local
APP_DEBUG=true

API_V1_PREFIX=/api/v1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=practice_db
POSTGRES_USER=practice_user
POSTGRES_PASSWORD=practice_pass

DATABASE_URL=postgresql+asyncpg://practice_user:practice_pass@localhost:5444/practice_db

SECRET_KEY=e8cb1c0ef5431eb5c5c893f510664d6bbe171532bb2a754e3610a8d1040c010d
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]

LOG_LEVEL=INFO