BACKEND_URL=https://smartsystem-backens-smart-plant-system-mainly.fin1.bult.app
DEVICE_ID=arduino-uno-001
DEVICE_TOKEN=put_device_token_here
PORT=auto
BAUD_RATE=9600
SOURCE_LABEL=auto
SOIL_WET_RAW=260
SOIL_DRY_RAW=473
LOG_LEVEL=DEBUG
